* {
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body {
  background-image: radial-gradient(circle at center, $white, #e5e5e5 );
  margin:0;
}

.wrapper{
  flex:1 0 auto;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  background: $white;
  padding: 1rem;
  color: $colour-secondary;
  flex-shrink: 0;
}


.social--icon {
 margin-right: 1rem;
  color: $colour-secondary;
 
}

.mail--to {
  color: $colour-secondary;
}
