.carousel-item {
  background-size: cover;
  background-position: center center;
}

.carousel-indicators li {
  width: 30px;
  background: $white;
  margin-right: 5px;
  opacity: 1;

}

.carousel-indicators .active {
  background: $colour-primary;
}
