.tab-content {
  background: $white;
  padding: 1.5em;
  min-height: 300px;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.02);
  margin-top: -7px;
  margin-bottom: 5rem;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $colour-secondary;
  background-color: $white;
  border-color: $white;
  border-radius: 12px 12px 0 0;
}

.social_icon {
  text-transform: uppercase;
  color:$colour-font-header;

}
